body {
  font-family: "Roboto", sans-serif;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

  background-color: #121212;
  color: white;
  font-size: 1.6rem;

  padding: 0 2.4rem;
}

ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  align-items: center;
  margin: 30px auto;
}
#roteiro h2 {
  display: flex;
  justify-content: center;
  margin: 30px auto;
}

.container {
  padding: 0 2.4rem;
  width: 60%;
}

.container h3 {
  margin: 30px auto;
}
.container p {
  margin: 30px auto;
}

.rodape {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  border-radius: 10px;

  background-color: #121212;
  color: white;
  font-size: 1.6rem;

  padding: 0 2.4rem;
}
